/* fonts data */

@font-face {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2)
        format("woff2");
  }
  
  @font-face {
    font-family: "lemonmilk";
    font-style: normal;
    src: url(./fonts/LEMONMILK-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: "celis";
    font-style: normal;
    src: url(./fonts/celis.woff2) format("woff2");
  }