/* root data  */

:root {
  --color-ancent: #e11d48;
  --color-black: #000000;
  --color-white: #f4f4f4;
  --color-gray: #707070;
  --color-white-dark: #c3c3c3;
  --color-blur: rgba(255, 255, 255, 0.1);
  --font-nav: "Inter", sans-serif;
  --font-google: Product Sans;
  --font-primary: "lemonmilk";
  --font-secondary: "celis";
  --width: 100%;
}

::selection {
  display: none;
}

/* default flex data  */

.flex-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-blur {
  background: var(--color-blur);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* body style  */

body {
  background: url("/img/bg__default.jpg"),
    var(--color-black);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  text-transform: capitalize;
}

/* header  */
.logosmall {
  width: 20px;
  height: 20px;
}

header {
  position: fixed;
  top: 0px;
  width: var(--width);
  padding: 20px;
  margin-bottom: 40px;
  z-index: 99;
}

/* whole wrappers thats covers everythings  */

.whole__wrapper {
  justify-content: space-evenly;
  width: 100%;
  height: 86vh;
  overflow: scroll;
}

/* home section  */

.logo__wrapper {
  display: flex;
  justify-content: center;
}
.logo2d {
  width: 100px;
  height: 100px;
  margin: 0;
  opacity: 0.6;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.author__name {
  font-family: var(--font-primary);
  font-size: 50px;
  color: var(--color-white);
  transform: rotate(90deg);
  margin-bottom: 100px;
  margin-top: 70px;
  text-align: center;
  line-height: 22px;
  letter-spacing: 3px;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.fullstop {
  color: var(--color-ancent);
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color-ancent);
  position: relative;
  top: -48px;
  left: -1px;
}
h3 {
  text-align: center;
  color: #707070;
  opacity: 1;
  font-size: 16px;
  line-height: 0;
  font-family: var(--font-secondary);
  z-index: 99999;
}


.anim_line {
  width: var(--width);
  height: 100vh;
  position: absolute;
  right: 0px;
  overflow: hidden;
}
.anim_line span {
  position: absolute;
  z-index: 99999;
  top: -275px;
  animation: star_down_one 6s infinite linear;
  opacity: 0;
}
.anim_line span:first-child {
  left: -17%;
  animation-delay: 3s;
}
.anim_line span:nth-child(2) {
  left: 0%;
  animation-delay: 5s;
}
.anim_line span:nth-child(3) {
  left: 17%;
  animation-delay: 1s;
}
.anim_line span:nth-child(4) {
  left: 34%;
  animation-delay: 4s;
}
.anim_line span:nth-child(5) {
  left: 51%;
  animation-delay: 7s;
  visibility: hidden;
}
.anim_line span:nth-child(6) {
  left: 68%;
}
.anim_line span:nth-child(7) {
  left: 85%;
  animation-delay: 3s;
}
.anim_line span:nth-child(8) {
  left: 99%;
  animation-delay: 2s;
}
.anim_line span:nth-child(9) {
  left: 117%;
  animation-delay: 5s;
}

.line {
  height: 15px;
  width: 2px;
  background: linear-gradient(
    180deg,
    var(--color-black) 40%,
    var(--color-ancent) 100%
  );
}

/* bottom navigation   */

nav {
  position: fixed;
  bottom: 25px;
  width: var(--width);
  padding-top: 10px;
  background-color: #000000;
}

#nav_0,
#nav_1,
#nav_3,
#nav_4 {
  color: var(--color-white);
  width: 100px;
  font-family: var(--font-nav);
  transition: all 0.3s ease-in;
  text-align: center;
  margin: 10px;
  font-size: 13.33;
  transform: scale(0.8);
  text-decoration: none;
  cursor: pointer;
}
#btn__txt {
  color: var(--color-white);
  width: 100px;
  font-family: var(--font-google);
  transition: all 0.3s ease-in;
  text-align: center;
  margin: 10px;
  font-size: 13.33;
  transform: scale(0.8);
  text-decoration: none;
}
#hire {
  width: 5.5rem;
  background-color: var(--color-ancent);
  height: 2.3rem;
  font-family: var(--font-google);
  border-radius: 40px;
  border: none;
  cursor: pointer;
  outline: none;
}

#hire:hover {
  transition: all 0.5s ease-in;
}

/* section loading animation  */

.show {
  animation: show 1.5s ease 0s 1;
}
.show__one {
  animation: show 1s ease 0s 1;
}

/* about section  */




#author__avatar {
  width: auto;
  height: 210px;
  transform: scale(0.9);
  -webkit-animation: flicker-in-1 2s linear both;
  animation: flicker-in-1 2s linear both;
}

h2 {
  color: var(--color-white);
  font-family: var(--font-primary);
}

.hello {
  font-size: 30px;
  -webkit-animation: wobble-hor-bottom 0.8s 2.1s both;
  animation: wobble-hor-bottom 0.8s 2.1s both;
}

#about__brief {
  color: var(--color-white-dark);
  font-family: var(--font-google);
  text-align: left;
  line-height: 25px;
  margin: 10px;
  text-align: center;
}

.font__size__secondary {
  font-size: 0.833rem;
}

strong {
  color: var(--color-ancent);
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hobbies__wrapper {
  display: flex;
  gap: 5px;
}
.hobbie__container {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
  width: 90px;
  height: 30px;
  padding: 0px 10px;
  border: 2px solid var(--color-blur);
}
.emoji__coding {
  position: relative;
  top: -2px;
}

.hobbie__text {
  color: var(--color-white);
  font-family: var(--font-secondary);
}

/* skill section  */

#skill__wrapper {
  width: 100%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  outline: none;
}


.container {
  border-radius: 17px;
  padding: 17px;
  margin: 40px;
  height: 40px;
  width: 198px;
  color: var(--color-white);
}

.circle__wrapper {
  gap: 3px;
}

.circle__html,
.circle__css,
.circle__js,
.circle__figma {
  width: 5px;
  height: 5px;
  background: var(--color-white-dark);
  border-radius: 50%;
}
.skill__name {
  font-family: var(--font-secondary);
}

/* project section  */

.project__container {
  height: 130px;
  margin-top: 60px;
  width: 289px;
  justify-content: center;
  align-items: center;

}
.language__container{
  gap: 10px;
  flex-grow: end;
  position: relative;
  bottom: -53px;
}
.language{
  background-color: #303030;
  color: var(--color-white);
  border-radius: 50px;
  padding: 7px 20px;
  font-family: var(--font-google);
  font-size: 0.733rem;

}
.project__option{
  gap: 10px;
  color: var(--color-gray);
}
.project__option a{
 color: var(--color-white);
 font-family: var(--font-google);
 text-decoration: none;
}
.circle__overlay{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: #303030;
  position: absolute;
  top: -46px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.mockup__ss, .mockup__ss__two {
	width: auto;
	height: 180px;
	border-radius: 20px;
	position: relative;
	top: 35px;
}

.project__name {
  color: var(--color-ancent);
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
}

/* contact section  */
.con__text {
  font-size: 24px;
  color: var(--color-white);
}

.border__container {
  gap: 10px;
  width: 100%;
}

.social__container {
  gap: 3px;
  width: 100%;
}
.social {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 70px;
}
svg {
  width: 24px;
  height: 24px;
  fill: var(--color-white);
}
.arrow:hover{
  fill: var(--color-ancent);
}
.social:hover{
  background: var(--color-ancent);
  transition: all .5s ease;
}

.icon__social {
  margin-top: 4px;
  transform: scale(0.8);
}
input {
  width: 90%;
  height: 100px;
  outline: none;
  border-radius: 16px;
  border: 2px solid var(--color-blur);
  background: var(--color-black);
  color: var(--color-white-dark);
  font-family: var(--font-google);
  text-align: center;
}
input::selection {
  background: var(--color-gray);
}
#my-form-button {
  margin-top: 20px;
  width: 5rem;
  background-color: var(--color-white);
  color: var(--color-black);
  height: 2rem;
  font-family: var(--font-google);
  border-radius: 50px;
  border: none;
}
#my-form-button:hover{
  background: var(--color-ancent);
  color: var(--color-white);
  transition: all .5s ease;
}
#my-form-status {
  color: var(--color-ancent);
  text-align: center;
  font-size: 14px;
}
main{
  overflow: scroll;
}
.alert-box {
  position: fixed;
  background: var(--color-blur);
  backdrop-filter: blur(4px);
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px 10px;
  border-radius: 8px;
  font-size: 0.733rem;
  font-family: var(--font-google);
  animation: fadeOut 3s ease-in-out forwards;
  z-index: 9999;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}


