/* root data  */

:root {
  --color-ancent: #e11d48;
  --color-black: #000000;
  --color-white: #f4f4f4;
  --color-gray: #707070;
  --font-nav: "Inter", sans-serif;
  --font-google: Product Sans;
  --font-primary: "lemonmilk";
  --font-secondary: "celis";
}

::selection {
  display: none;
}

/* body style  */

body {
  background: url("bg__default.jpg"), var(--color-black);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  text-transform: capitalize;
}

.bg-change-2x {
  -webkit-animation: color-change-2x 1s ease 0.2s both;
  animation: color-change-2x 1s ease 0.2s both;
}

/* header  */
.logosmall {
  width: 20px;
  height: 20px;
}
header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 20px;
  margin-bottom: 40px;
  z-index: 99;
}

/* whole wrappers thats covers everythings  */

.whole__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 75vh;
  margin-top: 40px;
  width: 100%;
  overflow: scroll;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* home section  */

#home__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dev__intro {
  display: flex;
  flex-direction: column;
}
.logo__wrapper {
  display: flex;
  justify-content: center;
}
.logo2d {
  width: 100px;
  height: 100px;
  margin: 0;
  opacity: 0.6;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.author__name {
  font-family: var(--font-primary);
  font-size: 50px;
  color: var(--color-white);
  transform: rotate(90deg);
  margin-bottom: 100px;
  margin-top: 70px;
  text-align: center;
  line-height: 22px;
  letter-spacing: 3px;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.fullstop {
  color: var(--color-ancent);
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color-ancent);
  position: relative;
  top: -48px;
  left: -1px;
}
h3 {
  text-align: center;
  color: #707070;
  opacity: 1;
  font-size: 16px;
  line-height: 0;
  font-family: var(--font-secondary);
  z-index: 99999;
}

svg {
  width: 24px;
  height: 24px;
  fill: var(--color-white);
}
svg:hover {
  fill: var(--color-ancent);
}

.anim_line {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}
.anim_line span {
  position: absolute;
  z-index: 99999;
  top: -275px;
  animation: star_down_one 6s infinite linear;
  opacity: 0;
}
.anim_line span:first-child {
  left: -17%;
  animation-delay: 3s;
}
.anim_line span:nth-child(2) {
  left: 0%;
  animation-delay: 5s;
}
.anim_line span:nth-child(3) {
  left: 17%;
  animation-delay: 1s;
}
.anim_line span:nth-child(4) {
  left: 34%;
  animation-delay: 4s;
  visibility: hidden;
}
.anim_line span:nth-child(5) {
  left: 51%;
  animation-delay: 7s;
  visibility: hidden;
}
.anim_line span:nth-child(6) {
  left: 68%;
  display: none;
}
.anim_line span:nth-child(7) {
  left: 85%;
  animation-delay: 3s;
}
.anim_line span:nth-child(8) {
  left: 99%;
  animation-delay: 2s;
}
.anim_line span:nth-child(9) {
  left: 117%;
  animation-delay: 5s;
}

.line {
  height: 15px;
  width: 2px;
  background: linear-gradient(
    180deg,
    var(--color-black) 40%,
    var(--color-ancent) 100%
  );
}

/* bottom navigation   */

nav {
  list-style: none;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 25px;
  width: 100%;
  padding-top: 10px;
  background-color: #000000;
}

a {
  color: var(--color-white);
  width: 100px;
  font-family: var(--font-nav);
  transition: all 0.3s ease-in;
  text-align: center;
  margin: 10px;
  font-size: 13.33;
  transform: scale(0.8);
  text-decoration: none;
}

#hire {
  background: var(--color-ancent);
  border: none;
  border-radius: 40px;
  padding: 1px 13px;
  color: var(--color-black);
  transform: scale(1);
  outline: none;
}

#hire:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}

/* section loading animation  */

.show {
  animation: show 1.5s ease 0s 1;
}
.show__one {
  animation: show 1s ease 0s 1;
}

/* about section  */

#about__wrapper {
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  outline: none;
  justify-content: center;
  font-size: 15px;
}

#author__avatar {
  width: auto;
  height: 210px;
  transform: scale(0.9);
  -webkit-animation: flicker-in-1 2s linear both;
  animation: flicker-in-1 2s linear both;
}

h2 {
  color: var(--color-white);
  font-family: var(--font-primary);
}

.hello {
  font-size: 30px;
  -webkit-animation: wobble-hor-bottom 0.8s 2.1s both;
  animation: wobble-hor-bottom 0.8s 2.1s both;
}

#about__brief {
  color: #c3c3c3;
  font-family: var(--font-google);
  text-align: left;
  line-height: 25px;
  margin: 10px;
  text-align: center;
}

#intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
strong {
  color: var(--color-ancent);
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hobbies__wrapper {
  display: flex;
  gap: 5px;
}
.hobbie__container {
  /* background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(4px); */
  display: flex;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
  width: 90px;
  height: 30px;
  padding: 0px 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.emoji__coding {
  position: relative;
  top: -2px;
}

.hobbie__text {
  color: var(--color-white);
  font-family: var(--font-secondary);
}

/* skill section  */

#skill__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  scroll-behavior: smooth;
  scrollbar-width: none;
  outline: none;
  justify-content: center;
}

#container__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.card__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 17px;
  padding: 17px;
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 198px;
  color: var(--color-white);
}
.text__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
}

.circle__html,
.circle__css,
.circle__js,
.circle__figma {
  width: 5px;
  height: 5px;
  background: #c3c3c3;
  border-radius: 50%;
}
.skill__name {
  font-family: var(--font-secondary);
}
.per__container {
  background-color: #313131;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
}

/* project section  */

.project__container {
  height: 130px;
  width: 289px;
  justify-content: space-between;
}
.overlay__circle {
  background: #313131;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 6px solid #e11d48; */
  overflow: hidden;
}
.mockup {
  width: auto;
  height: 250px;
  position: relative;
  top: 107px;
  z-index: 1;
  left: 55px;
}
.mockup__ss {
  width: auto;
  height: 229px;
  position: relative;
  top: 100px;

  border-radius: 9px;
  left: -67px;
}
.mockup__ss__two {
  width: auto;
  height: 214px;
  position: relative;
  top: 93px;
  border-radius: 9px;
  left: -67px;
}
.project__name {
  color: var(--color-ancent);
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
}
.project__details__one,
.project__details__two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* contact section  */
.con__text {
  font-size: 24px;
  color: var(--color-gray);
}
